@import '@oblique/oblique/styles/scss/core/variables';
@import '../core/colors';

.badge-wrapper {
  &.horizontal {
    display: flex;

    .badge {
      margin-right: $ob-spacing-xs;
    }
  }
}

.badge {
  font-size: 0.85rem;
  border-radius: 18px;
  border: 2px solid currentColor;
  padding-inline: $ob-spacing-md;
  padding-block: $ob-spacing-xs;
  color: currentColor;
  max-height: 30px;
  line-height: initial;
}

.red-badge {
  color: $kuf-error !important;
}

.yellow-badge {
  color: $kuf-yellow !important;
}
