<button
    (click)="controlPointClicked()"
    type="button"
    mat-button
    obButton="primary"
    class="{{ componentName }} ob-button-card"
>
    <mat-card class="{{ componentName }}__card">
        <mat-card-content class="{{ componentName }}__card-left">
            @if (number !== "undefined") {
                {{ number }}
            } @else {
                <span class="{{ componentName }}__card-left-placeholder">No number available</span>
            }
        </mat-card-content>
        <mat-card-content class="{{ componentName }}__card-middle">
            @if (displayBadge === true) {
                <a role="button" class="badge yellow-badge">Tarif</a>
            }
        </mat-card-content>
        <mat-card-actions class="{{ componentName }}__card-right">
            <app-control-status [initState]="checkState"></app-control-status>
        </mat-card-actions>
    </mat-card>
</button>
