@import '@oblique/oblique/styles/scss/core/variables';
@import '@oblique/oblique/styles/scss/core/variables';
@import '@oblique/oblique/styles/scss/core/mixins/layout';
@import '../../../../styles/core/colors';

.detail-card {
    width: 100%;

    &__card {
        padding-left: $ob-spacing-md;
        padding-right: $ob-spacing-md;
        display: flex;
        flex-direction: row;
        gap: $ob-spacing-xs;
        margin: $ob-spacing-xs;
        justify-content: space-between;

        &-left {
            width: 50%;
            align-content: center;
        }

        &-middle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
        }

        &-right {    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
        }
    }
}

// override the mat-card-content padding
:host {
    &::ng-deep {
        .mat-mdc-card-content:first-child {
            padding: 0 !important;
        }
        .mat-mdc-card .mat-mdc-card-actions {
            padding: 0 !important;
        }
    }
}
