@import '@oblique/oblique/styles/scss/core/variables';
@import '../../../styles/core/colors';

.control-status {
    &__icon {
        &--approved,
        &--notApproved,
        &--notChecked {
            font-size: 2.25rem;
        }

        &--notChecked {
            color: $kuf-grey;
        }
    
        &--approved {
            color: $kuf-green;
        }
    
        &--notApproved {
            color: $kuf-error;
        }
    }
}
