<div class="{{ componentName }}">
    <mat-card class="{{ componentName }}__header">
        <mat-card-title class="{{ componentName }}__header-title">
            <p>DE-1234-A389</p>
            <a class="badge red-badge" role="button">Prio 1</a>
        </mat-card-title>
        <mat-card-content class="{{ componentName }}__header-content">
            <div class="{{ componentName }}__header-content-left">
                <div>AT-3-12301273908</div>
                <div>{{ controlTime | dateTimeFormat }}</div>
            </div>
            <div class="{{ componentName }}__header-content-right">
                <mat-icon
                    (click)="qrClicked()"
                    class="{{ componentName }}__header-content-right-icon"
                    [svgIcon]="'qrcode'"
                >
                    <span class="ob-screen-reader-only">Check not done yet icon</span>
                </mat-icon>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-accordion class="{{ componentName }}__accordion">
        <mat-expansion-panel class="{{ componentName }}__accordion-panel">
            <mat-expansion-panel-header class="{{ componentName }}__accordion-panel-header">
                <mat-panel-title>{{ "i18n.goods" | translate }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="{{ componentName }}__accordion-panel-content">
                <app-detail-card
                    [number]="'21CHEI123412984232'"
                    [displayBadge]="true"
                    [checkState]="states.approved"
                ></app-detail-card>
                <app-detail-card
                    [number]="'AT-3-12301273908'"
                    [displayBadge]="true"
                    [checkState]="states.approved"
                ></app-detail-card>
                <app-detail-card
                    [number]="'DE-1234-A389'"
                    [displayBadge]="true"
                    [checkState]="states.notChecked"
                ></app-detail-card>
                <app-detail-card
                    [number]="'235-CHE-239AK '"
                    [displayBadge]="true"
                    [checkState]="states.notApproved"
                ></app-detail-card>
                <app-detail-card
                    [number]="'IT-12342345346534'"
                    [displayBadge]="true"
                    [checkState]="states.notApproved"
                ></app-detail-card>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="{{ componentName }}__accordion-panel">
            <mat-expansion-panel-header class="{{ componentName }}__accordion-panel-header">
                <mat-panel-title>{{ "i18n.vehicle" | translate }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="{{ componentName }}__accordion-panel-content">
                <app-detail-card
                    [number]="'Sattelschlepper Scania 140, Baujahr: 2012'"
                    [checkState]="states.approved"
                ></app-detail-card>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="{{ componentName }}__accordion-panel">
            <mat-expansion-panel-header class="{{ componentName }}__accordion-panel-header">
                <mat-panel-title>{{ "i18n.persons" | translate }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="{{ componentName }}__accordion-panel-content">
                <app-detail-card
                    [number]="'Alber Muster, 05.07.1978'"
                    [checkState]="states.notChecked"
                ></app-detail-card>
                <app-detail-card
                    [number]="'Musterschüler, 12.01.2004'"
                    [checkState]="states.notChecked"
                ></app-detail-card>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
