@import '@oblique/oblique/styles/scss/core/mixins/typography';
@import '@oblique/oblique/styles/scss/core/mixins/layout';
@import '@oblique/oblique/styles/scss/core/variables';

.qr-scan-dialog {
    &__title {
        font-size: $ob-font-size-xl !important;
    }

    &__actions,
    &__header {
        display: flex;
        justify-content: center;
    }
}
