<div mat-dialog-content class="{{ componentName }}__header">
    <h2 mat-dialog-title class="{{ componentName }}__title">{{ data.title }}</h2>
</div>
<ob-spinner [channel]="spinnerChannel" />
<div mat-dialog-content class="{{ componentName }}__content">
    <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>
</div>
<div mat-dialog-actions class="{{ componentName }}__actions">
    <button (click)="closeDialog()" type="button" mat-button obButton="primary" mat-dialog-close>
        {{ "i18n.common.close" | translate }}
    </button>
</div>
