@import '@oblique/oblique/styles/scss/core/variables';
@import '../../../styles/core/colors';

.bottom-bar {
    background-color: $kuf-lightgrey;
    position: fixed;
    bottom: 0;
    left: 0;
    display: grid;
    border-top: 2px solid $kuf-grey;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: $ob-spacing-sm;
    z-index: $ob-z-index-overlay;
    height: 60px;
}
