@import '@oblique/oblique/styles/scss/core/mixins/typography';
@import '@oblique/oblique/styles/scss/core/mixins/layout';
@import '@oblique/oblique/styles/scss/core/variables';

.qr-code-dialog {
    &__title {
        font-size: $ob-font-size-xl !important;
    }

    &__header {
        display: flex;
        justify-content: center;
    }

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    &__actions {
        display: flex;
        justify-content: center;
    }

}
