<div mat-dialog-content class="{{ componentName }}__header">
    <h2 class="{{ componentName }}__title" mat-dialog-title>{{ data.title }}</h2>
</div>
<div mat-dialog-content class="{{ componentName }}__content">
    <span>{{ data.subTitle }}</span>
    <qrcode [qrdata]="data.qrString" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
</div>
<div mat-dialog-actions class="{{ componentName }}__actions">
    <button (click)="closeDialog()" type="button" mat-button obButton="primary" mat-dialog-close>
        {{ "i18n.common.close" | translate }}
    </button>
</div>
