@import '@oblique/oblique/styles/scss/core/variables';
@import '../../../../styles/core/colors';

.dossier-overview {
    &__entry {
        margin-top: $ob-spacing-md;

        &:first-child {
        margin-top: 0;
        }
    }

    .mat-mdc-card-header, .mat-mdc-card-content {
        display: inline-block;
        border-bottom: 1px solid $kuf-lightgrey;
        padding-bottom: $ob-spacing-md;
        font-size: 1rem;
    }

    .mat-mdc-card-header-text {
        flex: 1;
    }

    &__card-title {
        display: flex;
    }

    &__tracking-id {
        font-size: $ob-font-size-sm;
    }

    &__vehicle-info-wrapper {
        flex: 1;
    }

    &__vehicle-info {
        display: flex;
        align-items: center;
    }

    &__licence-icon {
        color: $kuf-grey;
        margin-left: $ob-spacing-md;
    }

    &__content-wrapper {
        display: flex;
    }

    &__content-labels, &__footer-label {
        flex: 1;
        font-weight: 500;
    }

    &__card-footer {
        padding: 16px;
    }

    &__badges {
        margin-top: $ob-spacing-xs;
    }
}
