<div class="{{ dossierOverviewCSSClass }}">
    <div class="{{ dossierOverviewCSSClass }}__dossier-entries">
        @for (item of [].constructor(10); track item) {
            <mat-card
                class="{{ dossierOverviewCSSClass }}__entry"
                [routerLink]="['/', pageRoutes.dossier, genericRoutes.detail, 1]"
            >
                <mat-card-header>
                    <mat-card-title class="{{ dossierOverviewCSSClass }}__card-title">
                        <div class="{{ dossierOverviewCSSClass }}__vehicle-info-wrapper">
                            <div class="{{ dossierOverviewCSSClass }}__vehicle-info">
                                <div class="{{ dossierOverviewCSSClass }}__licence">D-HDS323</div>
                                <mat-icon
                                    class="{{
                                        dossierOverviewCSSClass
                                    }}__licence-icon ob-icon ob-icon-truck"
                                    [svgIcon]="'truck'"
                                >
                                    <span class="ob-screen-reader-only">Truck</span>
                                </mat-icon>
                            </div>
                            <div class="{{ dossierOverviewCSSClass }}__tracking-id">
                                221021-RA-AF450E
                            </div>
                        </div>
                        <div class="{{ dossierOverviewCSSClass }}__priority">
                            <div class="badge red-badge">Prio 1</div>
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="{{ dossierOverviewCSSClass }}__content-wrapper">
                        <div class="{{ dossierOverviewCSSClass }}__content-labels">
                            <div>Aktivierung</div>
                            <div>Fahrtrichtung</div>
                        </div>
                        <div class="class={{ dossierOverviewCSSClass }}__content-data">
                            <div>21.10.2022 13:59</div>
                            <div>Einfahrt</div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-footer class="{{ dossierOverviewCSSClass }}__card-footer">
                    <div class="{{ dossierOverviewCSSClass }}__footer-label">Kontrollbedarfe</div>
                    <div class="{{ dossierOverviewCSSClass }}__badges badge-wrapper horizontal">
                        <div class="badge yellow-badge">W1: Tarif</div>
                        <div class="badge yellow-badge">W2: Tarif</div>
                    </div>
                </mat-card-footer>
            </mat-card>
        }
    </div>
</div>
<app-bottom-bar>
    <button mat-button obButton="tertiary" type="button">
        <mat-icon class="ob-icon" svgIcon="filter" />Filter
    </button>
    <button mat-button obButton="tertiary" type="button" (click)="openQRPopup()">
        <mat-icon class="ob-icon" svgIcon="qrcode" />QR Code
    </button>
</app-bottom-bar>
